@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.ContactUs>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "Master.cshtml";
}

<h2>Contact Us</h2>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2038.4328824187494!2d15.204645416344981!3d59.2756233816401!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x465c151fd58c81b5%3A0xfe66fb2aee5569a8!2sRinggatan%2030%2C%20703%2042%20%C3%96rebro!5e0!3m2!1ssv!2sse!4v1635859912403!5m2!1ssv!2sse" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>